Repository containerd/containerd, pull requests merged in 2021-12, with the labels that each got.

#6315 Skip TestExportAndImportMultiLayer on Windows
  integration/client/import_test.go
Labels: needs-ok-to-test

#6317 Authenticate against ghcr.io
  .github/workflows/build-test-images.yml
Labels: needs-ok-to-test, kind/test

#6321 Update volume test images
  go.mod
  go.sum
  integration/client/go.sum
  integration/common.go
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/provider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_32.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_64.go
  vendor/github.com/Microsoft/go-winio/pkg/security/syscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/security/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd_windows.go
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/copy_linux.go
  vendor/github.com/containerd/continuity/fs/copy_unix.go
  vendor/github.com/containerd/continuity/fs/copy_windows.go
  vendor/github.com/containerd/continuity/go.mod
  vendor/github.com/containerd/continuity/go.sum
  vendor/modules.txt
Labels: needs-ok-to-test

#6325 Set CONTAINERD_ROOT in Windows cri-integration
  .github/workflows/windows-periodic.yml
Labels: needs-ok-to-test

#6324 Set explicit ACL on test files
  integration/images/volume-copy-up/Dockerfile_windows
  integration/images/volume-ownership/Dockerfile_windows
Labels: needs-ok-to-test

#6330 update runc to v1.0.3
  go.mod
  go.sum
  integration/client/go.sum
  script/setup/runc-version
  vendor/modules.txt
Labels: cherry-pick/1.4.x, cherry-pick/1.5.x

#6303 Use RFC3339 format on Windows periodic resource group creation so cleanup works
  .github/workflows/windows-periodic.yml
Labels: ok-to-test

#6225 feat: add timeout for bolt open
  services/server/server.go
Labels: needs-ok-to-test

#6373 ListContainerStats to return stats response if ContainerStatsFilter is nil
  pkg/cri/server/container_stats_list.go
Labels: ok-to-test

#6155 CRI update for sandbox sizing
  pkg/cri/annotations/annotations.go
  pkg/cri/server/sandbox_run_linux.go
  pkg/cri/server/sandbox_run_linux_test.go
Labels: ok-to-test

#6358 refactor: functions for error log and error return
  archive/tar_test.go
  cmd/ctr/commands/content/fetch.go
  content/helpers.go
  content/local/writer.go
  image.go
  images/archive/importer.go
  images/handlers.go
  mount/mount_linux.go
  mount/temp.go
  oci/spec_opts.go
  pkg/cri/config/config.go
  pkg/cri/opts/spec_linux.go
  pkg/cri/server/events.go
  pkg/process/deleted_state.go
  pkg/process/exec_state.go
  pkg/process/init_state.go
  remotes/docker/config/hosts.go
  remotes/docker/fetcher.go
  remotes/docker/httpreadseeker.go
  rootfs/init.go
  runtime/v2/shim.go
  services/introspection/service.go
  services/server/server.go
  snapshots/devmapper/metadata.go
  snapshots/devmapper/pool_device.go
  snapshots/devmapper/snapshotter.go
  snapshots/lcow/lcow.go
  snapshots/native/native.go
  snapshots/storage/metastore_test.go
  snapshots/windows/windows.go
Labels: needs-ok-to-test

#6275 Integration: Enable TestVolumeOwnership on Windows
  integration/volume_copy_up_test.go
  integration/volume_copy_up_unix_test.go
  integration/volume_copy_up_windows_test.go
Labels: ok-to-test

#6320 cri: add support for configuring swap
  integration/container_update_resources_test.go
  pkg/cri/opts/spec_linux.go
Labels: ok-to-test

#6350 Remove Windows integration testing for 2004.
  .github/workflows/windows-periodic.yml
Labels: needs-ok-to-test

#6372 seutil: Fix setting the "container_kvm_t" label
  pkg/cri/server/helpers_linux.go
  pkg/seutil/seutil.go
Labels: ok-to-test, cherry-pick/1.5.x

#6381 [release/1.5] seutil: Fix setting the "container_kvm_t" label
  pkg/cri/server/helpers_linux.go
  pkg/seutil/seutil.go
Labels: ok-to-test

#6379 Disable TestContainerHook on Windows
  integration/client/container_test.go
Labels: ok-to-test

#6322 Fix default makefile target for windows
  Makefile
Labels: needs-ok-to-test

#6347 cri-integration: Add Windows defaults and fix spaces issue
  .github/workflows/windows-periodic.yml
  script/test/cri-integration.sh
  script/test/utils.sh
Labels: ok-to-test

#6385 Fix flakiness on Windows for list stats
  integration/container_stats_test.go
Labels: ok-to-test

#6122 Enable lazy init for ext4 with devicemapper
  snapshots/devmapper/config.go
  snapshots/devmapper/snapshotter.go
  snapshots/devmapper/snapshotter_test.go
Labels: ok-to-test

#6384 Fix no-daemon flag for integration/client tests
  integration/client/client_test.go
Labels: ok-to-test

#6291 fix when kernel version < 4.13rc1 by using index=off cause test error
  snapshots/overlay/overlay.go
  snapshots/overlay/overlay_test.go
Labels: needs-ok-to-test

#6390 Fix restart container test
  integration/main_test.go
  integration/restart_test.go
Labels: needs-ok-to-test

#6395 only test abstract uds on linux
  integration/shim_dial_unix_test.go
Labels: needs-ok-to-test
