Repository containerd/containerd, pull requests merged in 2023-11, with the labels that each got.

#9308 test: remove /dev/loopX in TestRwLoop
  mount/losetup_linux_test.go
Labels: ok-to-test

#9320 Don't allow io_uring related syscalls in the RuntimeDefault seccomp profile.
  contrib/seccomp/seccomp_default.go
  contrib/seccomp/seccomp_default_test.go
Labels: impact/changelog, ok-to-test, impact/breaking

#9317 CRI: Handle ArgsEscaped for new Sb Server by clearing commandline in spec
  integration/windows_hostprocess_test.go
  pkg/cri/server/container_create_windows_test.go
  pkg/cri/server/container_execsync.go
Labels: needs-ok-to-test

#9319 cri: add deprecation warnings for mirrors, auths, and configs
  pkg/cri/config/config.go
  pkg/cri/config/config_test.go
  pkg/cri/cri.go
  pkg/deprecation/deprecation.go
Labels: area/cri, cherry-pick/1.6.x, cherry-pick/1.7.x

#9326 [release/1.7] Update hcsshim tag to v0.11.4
  go.mod
  go.sum
  integration/client/go.mod
  integration/client/go.sum
  vendor/github.com/Microsoft/go-winio/tools/mkwinsyscall/doc.go
  vendor/github.com/Microsoft/go-winio/tools/mkwinsyscall/mkwinsyscall.go
  vendor/github.com/Microsoft/hcsshim/.gitignore
  vendor/github.com/Microsoft/hcsshim/.golangci.yml
  vendor/github.com/Microsoft/hcsshim/Protobuild.toml
  vendor/github.com/Microsoft/hcsshim/internal/log/format.go
  vendor/github.com/Microsoft/hcsshim/internal/log/hook.go
  vendor/github.com/Microsoft/hcsshim/tools.go
  vendor/modules.txt
Labels: ok-to-test

#7647 switch back from golang.org/x/sys/execabs to os/exec (go1.19)
  archive/compression/compression.go
  archive/compression/compression_test.go
  archive/tar_test.go
  cmd/containerd/command/service_windows.go
  cmd/ctr/commands/content/content.go
  contrib/apparmor/template.go
  contrib/nvidia/nvidia.go
  diff/stream_unix.go
  diff/stream_windows.go
  integration/client/client_test.go
  integration/client/container_fuzzer.go
  integration/client/container_linux_test.go
  integration/client/container_test.go
  integration/client/daemon.go
  integration/client/restart_monitor_test.go
  integration/image_load_test.go
  integration/issue7496_linux_test.go
  integration/main_test.go
  integration/pod_userns_linux_test.go
  integration/volume_copy_up_unix_test.go
  mount/lookup_linux_test.go
  mount/mount_freebsd.go
  mount/mount_linux.go
  mount/mount_linux_test.go
  pkg/process/io.go
  pkg/process/io_util.go
  runtime/v2/runc/manager/manager_linux.go
  runtime/v2/shim/util.go
  snapshots/btrfs/btrfs_test.go
  snapshots/devmapper/blkdiscard/blkdiscard.go
  snapshots/devmapper/dmsetup/dmsetup.go
  snapshots/devmapper/pool_device_test.go
  snapshots/devmapper/snapshotter.go
  snapshots/overlay/overlayutils/check_test.go
  sys/oom_linux_test.go
  sys/reaper/reaper_unix.go
Labels: status/needs-major-release

#9327 [release/1.7] cri: add deprecation warnings for mirrors, auths, and configs
  pkg/cri/config/config.go
  pkg/cri/config/config_test.go
  pkg/cri/cri.go
  pkg/deprecation/deprecation.go
Labels: area/cri

#9287 add warning use inheritable Capabilities
  pkg/cri/server/service.go
  pkg/cri/server/service_test.go
Labels: needs-ok-to-test, cherry-pick/1.6.x, cherry-pick/1.7.x

#9332 [release/1.6] ci: Use Vagrant on ubuntu-latest-4-cores
  .github/workflows/ci.yml
  Vagrantfile
Labels: area/ci

#9341 fix: expected and actual field position adjustment
  integration/client/container_linux_test.go
Labels: needs-ok-to-test

#9344 [release/1.7] fix: shimv1 leak issue
  integration/issue7496_linux_test.go
  integration/issue7496_shutdown_linux_test.go
  runtime/v1/linux/task.go
Labels: ok-to-test

#9172 add verify kernel version when enable unprivileged
  pkg/cri/config/config.go
  pkg/cri/config/config_kernel_linux.go
  pkg/cri/config/config_kernel_linux_test.go
  pkg/cri/config/config_kernel_other.go
Labels: ok-to-test

#9349 integration: deflake TestIssue9103
  integration/client/container_linux_test.go
Labels: cherry-pick/1.6.x, cherry-pick/1.7.x

#9353 [release/1.6] integration: deflake TestIssue9103
  integration/client/container_linux_test.go
Labels: needs-ok-to-test

#9354 [release/1.7] integration: deflake TestIssue9103
  integration/client/container_linux_test.go
Labels: ok-to-test

#9336 [release/1.7] Expose usage of cri-api v1alpha2
  contrib/fuzz/cri_sbserver_fuzzer.go
  contrib/fuzz/cri_server_fuzzer.go
  integration/image_pull_timeout_test.go
  pkg/cri/cri.go
  pkg/cri/instrument/instrumented_service.go
  pkg/cri/sbserver/service.go
  pkg/cri/server/service.go
  pkg/cri/server/service_test.go
  pkg/cri/server/testing/fake_warning_service.go
  pkg/deprecation/deprecation.go
Labels: area/cri, ok-to-test

#9145 document runtime and shim configuration and selection
  docs/PLUGINS.md
  docs/man/containerd-config.toml.5.md
  runtime/v2/README.md
Labels: needs-ok-to-test

#9355 [release/1.6] cri: add deprecation warnings for mirrors, auths, and configs
  pkg/cri/config/config.go
  pkg/cri/config/config_test.go
  pkg/cri/cri.go
  pkg/deprecation/deprecation.go
Labels: area/cri

#9262 integration: init release upgrade testing
  go.mod
  integration/release_upgrade_linux_test.go
  integration/release_upgrade_utils_linux_test.go
Labels: ok-to-test

#9357 [release/1.6] Expose usage of cri-api v1alpha2
  pkg/cri/cri.go
  pkg/cri/server/instrumented_service.go
  pkg/cri/server/service.go
  pkg/cri/server/service_test.go
  pkg/cri/server/testing/fake_warning_service.go
  pkg/deprecation/deprecation.go
Labels: ok-to-test

#9348 add default enable unprivileged icmp/ports
  pkg/cri/config/config_unix.go
Labels: ok-to-test, kind/test

#9358 update runc binary to v1.1.10
  script/setup/runc-version
Labels: cherry-picked/1.6.x, cherry-picked/1.7.x

#9266 refactor labels used in cri server
  pkg/cri/labels/labels.go
  pkg/cri/server/container_create.go
  pkg/cri/server/helpers.go
  pkg/cri/server/helpers_test.go
  pkg/cri/server/nri.go
  pkg/cri/server/podsandbox/helpers.go
  pkg/cri/server/podsandbox/helpers_test.go
  pkg/cri/server/podsandbox/recover.go
  pkg/cri/server/podsandbox/sandbox_run.go
  pkg/cri/server/restart.go
Labels: area/cri, ok-to-test

#9107 [release/1.6] update github.com/containerd/nri v0.1.1
  go.mod
  go.sum
  integration/client/go.sum
  vendor/github.com/containerd/nri/client.go
  vendor/modules.txt
Labels: ok-to-test

#9373 adopters.md: remove Eliot project
  ADOPTERS.md
Labels: needs-ok-to-test

#9372 Enhance container image unpack client logs
  pkg/unpack/unpacker.go
Labels: needs-ok-to-test

#9333 [release/1.7] Add release notes for v1.7.9
  releases/v1.7.9.toml
  version/version.go
Labels: needs-ok-to-test

#9380 [release/1.6] Enhance container image unpack client logs
  unpacker.go
Labels: needs-ok-to-test

#9379 [release/1.7] Enhance container image unpack client logs
  pkg/unpack/unpacker.go
Labels: needs-ok-to-test

#9275 sandbox: podsandbox controller init its own client
  client/client.go
  client/services.go
  integration/build_local_containerd_helper_test.go
  pkg/cri/config/config.go
  pkg/cri/config/config_test.go
  pkg/cri/cri.go
  pkg/cri/server/container_create.go
  pkg/cri/server/container_start.go
  pkg/cri/server/container_stats_list.go
  pkg/cri/server/images/image_pull.go
  pkg/cri/server/podsandbox/controller.go
  pkg/cri/server/podsandbox/sandbox_run.go
  pkg/cri/server/podsandbox/sandbox_run_test.go
  pkg/cri/server/sandbox_remove.go
  pkg/cri/server/sandbox_run.go
  pkg/cri/server/sandbox_service.go
  pkg/cri/server/sandbox_stats_windows.go
  pkg/cri/server/sandbox_status.go
  pkg/cri/server/sandbox_stop.go
  pkg/cri/server/service.go
  pkg/cri/server/service_test.go
  services/sandbox/controller_service.go
  services/sandbox/sandboxers.go
Labels: needs-ok-to-test

#9385 [Release/1.6] CVE-2022-1996 fix for go-restful
  go.mod
  go.sum
  integration/client/go.sum
  vendor/github.com/emicklei/go-restful/.gitignore
  vendor/github.com/emicklei/go-restful/.travis.yml
  vendor/github.com/emicklei/go-restful/CHANGES.md
  vendor/github.com/emicklei/go-restful/Makefile
  vendor/github.com/emicklei/go-restful/README.md
  vendor/github.com/emicklei/go-restful/container.go
  vendor/github.com/emicklei/go-restful/cors_filter.go
  vendor/github.com/emicklei/go-restful/curly.go
  vendor/github.com/emicklei/go-restful/custom_verb.go
  vendor/github.com/emicklei/go-restful/jsr311.go
  vendor/github.com/emicklei/go-restful/parameter.go
  vendor/github.com/emicklei/go-restful/path_processor.go
  vendor/github.com/emicklei/go-restful/request.go
  vendor/github.com/emicklei/go-restful/response.go
  vendor/github.com/emicklei/go-restful/route.go
  vendor/github.com/emicklei/go-restful/route_builder.go
  vendor/github.com/emicklei/go-restful/route_reader.go
  vendor/github.com/emicklei/go-restful/service_error.go
  vendor/github.com/emicklei/go-restful/web_service.go
  vendor/modules.txt
Labels: needs-ok-to-test

#9376 Update documentation for containerd v2.0 packages
  README.md
  RELEASES.md
  docs/PLUGINS.md
  docs/client-opts.md
  docs/content-flow.md
  docs/garbage-collection.md
  docs/getting-started.md
  docs/namespaces.md
  docs/ops.md
  docs/remote-snapshotter.md
Labels: needs-ok-to-test

#9393 CI: update Fedora to 39
  .github/workflows/ci.yml
  Vagrantfile
Labels: cherry-pick/1.6.x, cherry-pick/1.7.x, area/ci

#9369 fix: ImagePull should close http connection if there is no available data to read.
  integration/build_local_containerd_helper_test.go
  integration/image_pull_timeout_test.go
  pkg/cri/config/config.go
  pkg/cri/config/config_unix.go
  pkg/cri/config/config_windows.go
  pkg/cri/server/images/image_pull.go
  remotes/docker/httpreadseeker.go
Labels: area/cri, ok-to-test, cherry-pick/1.7.x

#9280 push: always inherit distribution sources from parent
  remotes/handlers.go
Labels: ok-to-test, cherry-pick/1.7.x

#9384 fix ticker leak
  cmd/containerd-stress/cri_worker.go
Labels: needs-ok-to-test

#9409 [release/1.7] fix: ImagePull should close http connection if there is no available data to read.
  integration/build_local_containerd_helper_test.go
  integration/image_pull_timeout_test.go
  pkg/cri/config/config.go
  pkg/cri/config/config_unix.go
  pkg/cri/config/config_windows.go
  pkg/cri/server/image_pull.go
  remotes/docker/httpreadseeker.go
Labels: area/cri

#9412 pkg/dialer: minor fix on dialer function for windows
  pkg/dialer/dialer_windows.go
Labels: needs-ok-to-test

#9428 containerd-stress: use config address for CRI test
  cmd/containerd-stress/main.go
Labels: needs-ok-to-test

#8166 Support gzip and zstd HTTP transport compression to fetch remote resources
  remotes/docker/fetcher.go
  remotes/docker/fetcher_test.go
Labels: needs-ok-to-test, status/needs-discussion, size/L

#9440 [release/1.7] Windows default path overwrite fix
  oci/spec_opts.go
  oci/spec_opts_nonwindows.go
  oci/spec_opts_nonwindows_test.go
  oci/spec_opts_test.go
  oci/spec_opts_windows.go
  oci/spec_opts_windows_test.go
Labels: ok-to-test, size/L
