Repository containerd/containerd, pull requests merged in 2024-09, with the labels that each got.

#10663 Bump crun to 1.16.1
  script/setup/crun-version
Labels: needs-ok-to-test, dependencies, size/XS

#10665 update runc binary to 1.1.14
  script/setup/runc-version
Labels: cherry-pick/1.6.x, cherry-pick/1.7.x, size/XS

#10668 [release/1.7] update runc binary to 1.1.14
  script/setup/runc-version
Labels: area/runtime, size/XS

#10667 [release/1.6] update runc binary to 1.1.14
  script/setup/runc-version
Labels: area/runtime, size/XS

#10595 [release/1.6] move builds to go1.22 and testing to go1.23
  .github/actions/install-go/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  BUILDING.md
  Vagrantfile
  contrib/Dockerfile.test
  script/setup/install-dev-tools
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, go, area/toolchain

#10657 Avoid repeated ptypes.Empty creation by predefining it as a var
  plugins/services/containers/local.go
  plugins/services/events/service.go
  plugins/services/events/ttrpc.go
  plugins/services/images/local.go
  plugins/services/leases/service.go
  plugins/services/namespaces/local.go
  plugins/services/transfer/service.go
Labels: kind/refactor, size/M

#10594 CRI: remove `disable_cgroup`
  RELEASES.md
  internal/cri/config/config.go
  internal/cri/opts/spec_opts.go
  internal/cri/server/container_create.go
  internal/cri/server/container_create_linux_test.go
  internal/cri/server/podsandbox/sandbox_run_linux.go
  internal/cri/server/podsandbox/sandbox_run_linux_test.go
Labels: area/cri, ok-to-test, impact/breaking, size/M

#10671 [release/1.6] Cumulative stats can't decrease
  pkg/cri/server/container_stats_list_linux.go
  pkg/cri/server/container_stats_list_linux_test.go
Labels: area/cri, size/M

#10670 [release/1.7] Cumulative stats can't decrease
  pkg/cri/sbserver/container_stats_list.go
  pkg/cri/sbserver/container_stats_list_test.go
  pkg/cri/server/container_stats_list.go
  pkg/cri/server/container_stats_list_test.go
Labels: area/cri, size/M

#10659 Remove duplicated sandbox <-> proto conversion functions
  core/sandbox/proxy/controller.go
  plugins/sandbox/controller.go
  plugins/services/images/helpers.go
  plugins/services/images/local.go
  plugins/services/sandbox/controller_service.go
Labels: kind/cleanup, area/runtime, size/L

#10651 runc-shim: fix races/prevent init exits from being dropped
  cmd/containerd-shim-runc-v2/task/service.go
Labels: kind/bug, ok-to-test, cherry-pick/1.6.x, cherry-pick/1.7.x, area/runtime, size/L

#10649 integration: regression test for issue 10589
  integration/client/container_linux_test.go
  integration/failpoint/cmd/runc-fp/delayexec.go
  integration/failpoint/cmd/runc-fp/main.go
  integration/failpoint/const.go
  pkg/fifosync/fifo_unix.go
Labels: kind/test, area/runtime, size/L

#10680 [release/1.6] update to go1.22.7, go1.23.1
  .github/actions/install-go/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, go, area/toolchain

#10676 [1.6 backport] Fix bug where init exits were being dropped
  runtime/v2/runc/task/service.go
Labels: impact/changelog, kind/bug, area/runtime, size/L

#10679 [release/1.7] update to go1.22.7, go1.23.1
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, go, area/toolchain

#10675 [1.7 backport] Fix bug where init exits were being dropped
  runtime/v2/runc/task/service.go
Labels: impact/changelog, kind/bug, area/runtime, size/L

#10682 [release/1.7] integration: regression test for issue 10589
  integration/client/container_linux_test.go
  integration/failpoint/cmd/runc-fp/delayexec.go
  integration/failpoint/cmd/runc-fp/main.go
  integration/failpoint/const.go
  pkg/fifosync/fifo_unix.go
Labels: kind/bug, area/runtime, size/L

#10683 [release/1.6] integration: regression test for issue 10589
  integration/client/container_linux_test.go
  integration/failpoint/cmd/runc-fp/delayexec.go
  integration/failpoint/cmd/runc-fp/main.go
  integration/failpoint/const.go
  pkg/fifosync/fifo_unix.go
Labels: kind/test, area/runtime, size/L

#10678 update to go1.23.1, go1.22.7
  .devcontainer/devcontainer.json
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, go, area/toolchain

#10685 Prepare release notes for v1.6.36
  releases/v1.6.36.toml
  version/version.go
Labels: size/S

#10684 Prepare release notes for v1.7.22
  releases/v1.7.22.toml
  version/version.go
Labels: size/S

#10307 Support multiple uid/gid mappings [1/2]
  client/container_opts_unix.go
  client/snapshotter_opts_unix.go
  cmd/ctr/commands/run/run_unix.go
  integration/client/container_linux_test.go
  internal/userns/idmap.go
  internal/userns/idmap_test.go
Labels: size/XL

#10713 Enable the selinux on cri test
  script/test/utils.sh
Labels: ok-to-test, size/XS

#10740 Add timestamp to PodSandboxStatusResponse for kubernetes Evented PLEG
  internal/cri/server/sandbox_status.go
Labels: kind/bug, area/cri, needs-ok-to-test, size/XS

#10747 [cri] use 'UserSpecifiedImage' to set the image-name annotation
  internal/cri/server/container_create.go
Labels: kind/feature, area/cri, needs-ok-to-test, size/XS
