Repository containerd/containerd, pull requests merged in 2024-11, with the labels that each got.

#10919 services/snapshots: include name of snapshotter in debug logs
  plugins/services/snapshots/service.go
Labels: kind/refactor, size/S

#10886 resolver/docker: fix confusing "trying next host" log
  core/remotes/docker/resolver.go
Labels: kind/cleanup, size/S

#10927 RELEASES.md: k8s: fix CRI v1alpha2 removal release, remove old releases
  RELEASES.md
Labels: kind/docs, area/cri, cherry-pick/1.6.x, cherry-pick/1.7.x, size/S

#10926 docs/containerd-2.0.md: add more highlights
  docs/containerd-2.0.md
Labels: kind/docs, area/cri, easy-to-review, size/S

#10934 Update errdefs to v1.0.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#10877 update runc binary to 1.2.1
  script/setup/runc-version
Labels: area/cri, ok-to-test, area/runtime, size/XS

#10935 Prepare release notes for api/v1.8.0
  api/releases/v1.8.0.toml
Labels: size/XS

#10936 [release/1.7] Make TestContainerPids more resilient
  integration/client/container_test.go
Labels: kind/test, size/M

#10937 [release/1.6] Make TestContainerPids more resilient
  integration/client/container_test.go
Labels: kind/test, size/M

#10931 [release/1.7] services/snapshots: include name of snapshotter in debug logs
  services/snapshots/service.go
Labels: needs-ok-to-test, size/S

#10932 [release/1.6] services/snapshots: include name of snapshotter in debug logs
  services/snapshots/service.go
Labels: needs-ok-to-test, size/S

#10938 Update containerd API to v1.8.0 release
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#10929 [release/1.6] Update critools-version to 1.29
  script/setup/critools-version
Labels: ok-to-test, size/XS

#10950 Disable vagrant strict dependency checking
  .github/workflows/ci.yml
Labels: size/XS, github_actions

#10942 Update platforms to v1.0.0-rc.0
  go.mod
  go.sum
  vendor/github.com/containerd/platforms/.golangci.yml
  vendor/github.com/containerd/platforms/compare.go
  vendor/github.com/containerd/platforms/database.go
  vendor/github.com/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/platforms/platforms.go
  vendor/modules.txt
Labels: size/L, go

#10951 go.mod: k8s.io/* v0.31.2
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, easy-to-review, size/M

#10954 Update typeurl to v2.2.2
  go.mod
  go.sum
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/modules.txt
Labels: dependencies, size/S, go

#10939 Prepare release notes for v2.0.0
  README.md
  RELEASES.md
  releases/cri-containerd.DEPRECATED.txt
  releases/v2.0.0.toml
  version/version.go
Labels: size/S

#10964 Avoid arch info in the sed/replace when building cri-cni-containerd.tar.gz
  test/build.sh
Labels: cherry-pick/1.7.x, size/XS, area/toolchain, cherry-pick/2.0.x

#10968 [release/2.0] Avoid arch info in the sed/replace when building cri-cni-containerd.tar.gz
  test/build.sh
Labels: size/XS, area/toolchain

#10966 [release/1.6] backport: Disable vagrant strict dependency checking
  .github/workflows/ci.yml
Labels: size/S, github_actions

#10963 [release/2.0] ci: enable marking 2.0 releases as latest
  .github/workflows/release.yml
Labels: needs-ok-to-test, size/XS, github_actions

#10970 update to go1.23.3 / go1.22.9
  .devcontainer/devcontainer.json
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, area/toolchain

#10965 [release/1.7] backport: Disable vagrant strict dependency checking
  .github/workflows/ci.yml
Labels: size/XS, github_actions

#10972 fsverity_test.go: fix nil pointer derefence, fix test fail, fix minor/major device numbers resolving
  internal/fsverity/fsverity_test.go
Labels: kind/bug, ok-to-test, size/S, cherry-pick/2.0.x

#10976 [release/1.7] Avoid arch info in the sed/replace when building cri-cni-containerd.tar.gz
  test/build.sh
Labels: size/XS

#10962 [release/1.7] ci: disable marking 1.7 releases as latest
  .github/workflows/release.yml
Labels: needs-ok-to-test, size/XS, github_actions

#10975 [release/1.6] update build to go1.22.9, test go1.23.3
  .github/actions/install-go/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, go, area/toolchain

#10974 [release/1.7] update build to go1.22.9, test go1.23.3
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, go, area/toolchain

#10969 [release/1.7] update cri-tools to v1.29.0
  script/setup/critools-version
Labels: area/cri, size/XS

#10956 [release/1.7 backport] testutil: avoid conflict with continuity/testutil
  pkg/testutil/helpers.go
Labels: needs-ok-to-test, size/S

#10997 [release/2.0] bump github.com/containerd/typeurl/v2 from 2.2.2 to 2.2.3
  go.mod
  go.sum
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/github.com/containerd/typeurl/v2/types_gogo.go
  vendor/modules.txt
Labels: dependencies, size/M, go

#10981 fsverity_linux.go: Fix fsverity.IsEnabled() for big endian systems
  internal/fsverity/fsverity_linux.go
Labels: kind/bug, needs-ok-to-test, size/XS, cherry-pick/2.0.x

#11002 docs: update schema 1 deprecation information
  RELEASES.md
  docs/containerd-2.0.md
Labels: kind/docs, size/XS

#11004 Revert "Disable vagrant strict dependency checking"
  .github/workflows/ci.yml
Labels: cherry-pick/1.6.x, cherry-pick/1.7.x, size/XS, github_actions, cherry-pick/2.0.x

#11012 Fix runtimeoptions location in v2 migration script
  contrib/v2-migrate.sh
Labels: size/XS

#11022 update runc binary to 1.2.2
  script/setup/runc-version
Labels: needs-ok-to-test, size/XS

#11019 Update install-imgcrypt to allow change install repo
  script/setup/install-imgcrypt
Labels: ok-to-test, size/XS

#11016 [containerd-stress] Use platform-specific default address
  cmd/containerd-stress/main.go
Labels: needs-ok-to-test, size/XS

#11023 [release/2.0] update runc binary to 1.2.2
  script/setup/runc-version
Labels: ok-to-test, size/XS

#10978 [release/2.0] fsverity_test.go: fix nil pointer derefence, fix test fail, fix minor/major device numbers resolving
  internal/fsverity/fsverity_test.go
Labels: needs-ok-to-test, size/S

#11013 Move content events to metadata
  core/metadata/content.go
  plugins/services/content/store.go
Labels: kind/refactor, size/M

#11017 [defaults] Reorganize per-platform defaults
  defaults/defaults_darwin.go
  defaults/defaults_differ_windows.go
  defaults/defaults_linux.go
  defaults/defaults_snapshotter_linux.go
  defaults/defaults_snapshotter_unix.go
  defaults/defaults_unix.go
  defaults/defaults_unix_nolinux.go
  defaults/defaults_windows.go
Labels: needs-ok-to-test, platform/freebsd, size/L

#10917 fix: set the credentials even if not provided
  internal/cri/server/images/image_pull.go
Labels: kind/bug, needs-ok-to-test, size/S, cherry-pick/2.0.x

#10906 *: should align pipe's owner with init process
  integration/images/image_list.go
  integration/main_test.go
  integration/pod_userns_linux_test.go
  internal/cri/server/container_start.go
  internal/cri/server/container_start_linux.go
  internal/cri/server/container_start_other.go
Labels: kind/bug, area/cri, area/runtime, size/L, cherry-pick/2.0.x

#10913 [release/1.7 backport] local: avoid writing to content root on readonly store
  content/local/store.go
  content/local/store_test.go
Labels: needs-ok-to-test, size/M

#10915 Add tests for CNI v2 loopback options
  Makefile
  integration/failpoint/cmd/loopback-v2/main.go
  integration/issue10244_loopback_linux_test.go
  script/setup/install-failpoint-binaries
Labels: ok-to-test, kind/test, size/L

#10724 make ListContainerStats handle container that is removed before its sandbox
  internal/cri/server/container_stats_list.go
  internal/cri/server/container_stats_list_test.go
Labels: kind/bug, area/cri, needs-ok-to-test, size/M

#11032 [release/1.7 backport] Fix retry logic and concurrency issue with http fallback
  remotes/docker/config/hosts.go
  remotes/docker/config/hosts_test.go
  remotes/docker/resolver.go
  remotes/docker/resolver_test.go
  remotes/docker/resolver_unix.go
  remotes/docker/resolver_windows.go
Labels: impact/changelog, ok-to-test, size/L, area/distribution

#11007 [release/1.7] internal/cri: log ctr's exit event on info level
  pkg/cri/sbserver/events.go
  pkg/cri/server/events.go
Labels: impact/changelog, area/cri, needs-ok-to-test, size/XS

#11008 [release/1.6] Update the container exit log to info level
  pkg/cri/server/events.go
Labels: impact/changelog, area/cri, needs-ok-to-test, size/XS

#11045 Clarify release for deprecated registry field removals
  internal/cri/config/config.go
Labels: impact/deprecation, needs-ok-to-test, size/XS

#11050 Move rockylinux 9.4 to almalinux/9 in CI
  .github/workflows/ci.yml
Labels: kind/test, cherry-pick/1.6.x, cherry-pick/1.7.x, size/XS, github_actions, cherry-pick/2.0.x

#11053 [release/2.0] Move rockylinux 9.4 to almalinux/9 in CI
  .github/workflows/ci.yml
Labels: kind/test, size/XS, github_actions

#11049 Publish attestation as release artifact
  .github/workflows/release.yml
Labels: size/S, github_actions, area/toolchain, cherry-pick/2.0.x

#11054 [release/1.7] Move rockylinux 9.4 to almalinux/9 in CI
  .github/workflows/ci.yml
Labels: kind/test, size/XS, github_actions

#11055 [release/1.6] Add almalinux/9 in CI
  .github/workflows/ci.yml
Labels: kind/test, size/XS, github_actions

#11065 Unsorted platform conditionals cleanup
  core/mount/temp_unix.go
  core/mount/temp_unsupported.go
  integration/remote/util/util_unix.go
  integration/remote/util/util_unsupported.go
  internal/cri/server/container_update_resources.go
  plugins/services/tasks/local.go
  plugins/services/tasks/local_darwin.go
  plugins/services/tasks/local_freebsd.go
  plugins/services/tasks/local_unix.go
  plugins/services/tasks/local_windows.go
Labels: needs-ok-to-test, kind/cleanup, size/L

#11062 Update differ to handle zstd media types
  pkg/archive/compression/compression.go
  plugins/diff/walking/differ.go
  plugins/diff/windows/windows.go
Labels: size/M, cherry-pick/2.0.x

#11067 [release/2.0] Publish attestation as release artifact
  .github/workflows/release.yml
Labels: size/S, github_actions, area/toolchain
