Repository containerd/containerd, pull requests merged in 2025-08, with the labels that each got.

#12167 sys: fix pidfd leak in UnshareAfterEnterUserns
  pkg/sys/unshare_linux.go
Labels: impact/changelog, kind/bug, ok-to-test, area/runtime, size/XS, cherry-pick/2.0.x, cherry-pick/2.1.x

#12177 fix: create bootstrap.json with 0644 permission
  core/runtime/v2/shim.go
Labels: kind/bug, ok-to-test, area/runtime, size/XS, cherry-pick/2.0.x, cherry-pick/2.1.x

#12180 ci: bump Go 1.24.6
  .devcontainer/devcontainer.json
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: cherry-pick/1.6.x, cherry-pick/1.7.x, size/S, area/github_actions, area/toolchain, cherry-pick/2.0.x, cherry-pick/2.1.x

#12188 [release/1.7] ci: bump Go 1.23.12, 1.24.6
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, go, area/toolchain

#12190 Fix ctr snapshot mount produce invalid mount command for empty option
  cmd/ctr/commands/snapshots/snapshots.go
Labels: kind/bug, cherry-pick/1.7.x, size/XS, cherry-pick/2.0.x, cherry-pick/2.1.x

#12207 ci: add Go 1.25.0
  .github/workflows/ci.yml
Labels: size/XS, area/toolchain, github_actions

#12018 [release/1.7] cherry-pick Update differ to handle zstd media types
  archive/compression/compression.go
  diff/walking/differ.go
  diff/windows/windows.go
Labels: kind/enhancement, needs-ok-to-test, size/S

#11966 fix: preserve nsPath on mount failure to ensure cleanup
  pkg/netns/netns_linux.go
Labels: kind/bug, needs-ok-to-test, size/XS

#12114 core/mount: Fix doPrepareIDMappedOverlay cleanup function
  core/mount/mount_linux.go
  core/mount/mount_linux_test.go
Labels: kind/bug, ok-to-test, area/runtime, size/L

#12025 Add support for back references in the garbage collector
  core/metadata/gc.go
  core/metadata/gc_test.go
  docs/garbage-collection.md
Labels: kind/feature, size/L

#12227 Add documentation for cgroup_writable field
  docs/cri/config.md
Labels: kind/docs, needs-ok-to-test, size/XS

#12223 [release/2.0] Backport various overlayfs related user namespace fixes and improvements
  core/mount/mount_idmapped_linux.go
  core/mount/mount_idmapped_linux_test.go
  core/mount/mount_linux.go
  core/mount/mount_linux_test.go
  plugins/snapshots/overlay/overlayutils/check.go
Labels: needs-ok-to-test, area/runtime, size/XL

#12218 cri: Fix userns with container image VOLUME mounts that need copy
  core/mount/temp.go
  integration/pod_userns_linux_test.go
  internal/cri/opts/container.go
Labels: area/cri, needs-ok-to-test, size/L, cherry-pick/2.0.x, cherry-pick/2.1.x

#12242 [release/2.1] Backport userns container image volume with copy-up fixes
  core/mount/temp.go
  integration/pod_userns_linux_test.go
  internal/cri/opts/container.go
Labels: area/cri, needs-ok-to-test, size/L

#12248 install-runhcs-shim: fetch target commit instead of tags
  script/setup/install-runhcs-shim
Labels: area/runtime, size/XS, area/toolchain

#12249 docs: remove shutdown adopter D2iQ Konvoy
  ADOPTERS.md
Labels: kind/docs, size/XS
