Repository containerd/containerd, pull requests merged in 2025-07, with the labels that each got.

#12039 Fix port forward error logger to not cause concurrent write
  internal/cri/streamingserver/portforward/httpstream.go
Labels: area/cri, size/XS, cherry-pick/2.0.x, cherry-pick/2.1.x

#12046 erofs-differ: fix filesystem UUID for tar-converted layers
  docs/snapshotters/erofs.md
  internal/erofsutils/mount_linux.go
  plugins/diff/erofs/differ_linux.go
Labels: size/S

#12015 fix(cri): Correct Commit Memory Aggregation for Windows Containers
  internal/cri/server/container_stats_list.go
  internal/cri/server/sandbox_stats_windows.go
  internal/cri/server/sandbox_stats_windows_test.go
Labels: kind/bug, platform/windows, ok-to-test, size/L

#12052 [release/1.6] bugfix:close container io when runtime create failed
  integration/container_io_leak_linux_test.go
  pkg/process/init.go
Labels: kind/bug, area/runtime, size/M

#11857 chore: remove go version specific code
  core/mount/mount_idmapped_utils_linux.go
  core/mount/mount_idmapped_utils_linux_go122.go
  pkg/sys/unshare_linux.go
Labels: kind/cleanup, size/L, go

#12017 ctr:add sandbox info command to print sandbox info
  cmd/ctr/commands/sandboxes/sandboxes.go
Labels: kind/feature, needs-ok-to-test, size/S

#11576 cri:fix containerd panic when can't find sandbox extension
  internal/cri/server/restart.go
Labels: kind/bug, area/cri, ok-to-test, size/S, cherry-pick/2.0.x, cherry-pick/2.1.x

#11509 client/New: Don't unlazy the gRPC connection implicitly
  client/client.go
  client/task.go
Labels: size/M, area/client, cherry-pick/2.0.x, cherry-pick/2.1.x

#12072 erofs-snapshotter: make IMMUTABLE_FL optional to recover performance
  docs/snapshotters/erofs.md
  plugins/snapshots/erofs/erofs_linux.go
  plugins/snapshots/erofs/plugin/plugin_linux.go
Labels: kind/performance, size/M

#12088 Remove WS2025 from CIs due to test failures
  .github/workflows/build-test-images.yml
  .github/workflows/ci.yml
  .github/workflows/windows-hyperv-periodic.yml
  .github/workflows/windows-periodic.yml
  integration/images/volume-copy-up/Makefile
  integration/images/volume-ownership/Makefile
Labels: platform/windows, size/M, github_actions

#12091 [release/2.1] erofs-snapshotter: make IMMUTABLE_FL optional
  docs/snapshotters/erofs.md
  plugins/snapshots/erofs/erofs_linux.go
  plugins/snapshots/erofs/plugin/plugin_linux.go
Labels: kind/performance, size/M

#12090 Fix intermittent test failures on Windows CIs
  .github/workflows/ci.yml
  core/content/testsuite/testsuite.go
  internal/cri/executil/exec_test.go
Labels: platform/windows, size/M, github_actions

#12030 core/runtime/v2: shimManager.cleanupWorkDirs ignore non-existing path
  core/runtime/v2/shim_load.go
Labels: kind/cleanup, area/runtime, size/XS

#11771 Plumb windows CPU affinity values to runtime spec
  internal/cri/opts/spec_opts.go
  internal/cri/server/container_create.go
  internal/cri/server/container_create_windows_test.go
Labels: platform/windows, area/runtime, size/M

#12085 update pause image to pause:3.10.1
  contrib/ansible/cri-containerd.yaml
  docs/cri/config.md
  docs/cri/crictl.md
  integration/client/migration_test.go
  integration/client/testdata/custom-1.7.toml
  integration/client/testdata/default-1.6.toml
  integration/client/testdata/default-1.7.toml
  integration/images/image_list.go
  integration/images/image_list.sample.toml
  internal/cri/config/config.go
  internal/cri/server/images/image_pull_test.go
  plugins/cri/images/plugin_test.go
Labels: area/cri, size/M

#12059 Remove additional fuzzers from instrumentation repo
  contrib/fuzz/oss_fuzz_build.sh
Labels: cherry-pick/1.7.x, size/XS

#12119 [release/2.1] Backport windows test fixes
  .github/workflows/build-test-images.yml
  .github/workflows/ci.yml
  .github/workflows/windows-hyperv-periodic.yml
  .github/workflows/windows-periodic.yml
  core/content/testsuite/testsuite.go
  integration/images/volume-copy-up/Makefile
  integration/images/volume-ownership/Makefile
Labels: platform/windows, size/M, github_actions

#12125 [release/1.6] ci: use fedora 39 archive
  Vagrantfile
Labels: kind/test, size/XS

#12122 [release/1.6] Backport windows test fixes
  .github/workflows/build-test-images.yml
  .github/workflows/ci.yml
  .github/workflows/windows-periodic.yml
  content/testsuite/testsuite.go
  integration/images/volume-copy-up/Makefile
  integration/images/volume-ownership/Makefile
Labels: platform/windows, size/M, github_actions

#12121 [release/1.7] Backport windows test fixes
  .github/workflows/build-test-images.yml
  .github/workflows/ci.yml
  .github/workflows/windows-hyperv-periodic.yml
  .github/workflows/windows-periodic.yml
  content/testsuite/testsuite.go
  integration/images/volume-copy-up/Makefile
  integration/images/volume-ownership/Makefile
Labels: platform/windows, size/M, github_actions

#12118 [release/1.6] ci: bump Go 1.23.11, 1.24.5
  .github/actions/install-go/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  script/setup/prepare_env_windows.ps1
Labels: size/S, go, area/toolchain, github_actions

#12082 nri: enable otel traces in NRI.
  internal/nri/config.go
Labels: size/S, area/nri

#12117 [release/1.7] ci: bump Go 1.23.11, 1.24.5
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, go, area/toolchain, github_actions

#12129 cmd/ctr: rename vars that shadowed builtin
  cmd/ctr/commands/run/run_unix.go
Labels: size/XS

#12021 restore: skip pull for existing base image
  internal/cri/server/container_checkpoint_linux.go
Labels: kind/bug, area/cri, ok-to-test, size/S

#12134 [release/1.7] Prepare release notes for v1.7.28
  releases/v1.7.28.toml
  version/version.go
Labels: size/S

#12153 Remove Alpha gate from k8s e2e runs
  .github/workflows/node-e2e.yml
Labels: size/XS, github_actions

#12158 Update mailmap for austinvazquez
  .mailmap
Labels: size/XS

#12159 [release/2.1] Prepare release notes for v2.1.4
  releases/v2.1.4.toml
  version/version.go
Labels: area/cri, area/runtime, size/S, area/distribution, area/client

#12146 Fix typo in regression test (metrics/cgroups)
  core/metrics/cgroups/metrics_test.go
Labels: ok-to-test, size/S

#12136 [release/2.0] Backport Add dial timeout field to hosts toml configuration #11106
  core/remotes/docker/config/hosts.go
  core/remotes/docker/config/hosts_test.go
  docs/hosts.md
Labels: ok-to-test, size/M

#12050 Add snapshotter and differ for block CIMs
  core/mount/mount_windows.go
  go.mod
  go.sum
  plugins/diff/windows/cimfs.go
  plugins/snapshots/windows/block_cimfs.go
  plugins/snapshots/windows/cimfs.go
  plugins/snapshots/windows/cimfs_test.go
  plugins/snapshots/windows/common.go
  vendor/github.com/Microsoft/hcsshim/.golangci.yml
  vendor/github.com/Microsoft/hcsshim/cmd/containerd-shim-runhcs-v1/options/runhcs.pb.go
  vendor/github.com/Microsoft/hcsshim/cmd/containerd-shim-runhcs-v1/stats/stats.pb.go
  vendor/github.com/Microsoft/hcsshim/ext4/tar2ext4/tar2ext4.go
  vendor/github.com/Microsoft/hcsshim/hcn/hcnerrors.go
  vendor/github.com/Microsoft/hcsshim/internal/log/hook.go
  vendor/github.com/Microsoft/hcsshim/internal/oc/exporter.go
  vendor/github.com/Microsoft/hcsshim/internal/protocol/guestrequest/types.go
  vendor/github.com/Microsoft/hcsshim/internal/safefile/safeopen.go
  vendor/github.com/Microsoft/hcsshim/internal/security/grantvmgroupaccess.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/cim/block_cim_writer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/cim/common.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/importlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/cimfs.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/devices.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/pkg/cimfs/cim_writer_windows.go
  vendor/github.com/Microsoft/hcsshim/pkg/cimfs/cimfs.go
  vendor/github.com/Microsoft/hcsshim/pkg/cimfs/common.go
  vendor/github.com/Microsoft/hcsshim/pkg/cimfs/doc.go
  vendor/github.com/Microsoft/hcsshim/pkg/cimfs/mount_cim.go
  vendor/github.com/Microsoft/hcsshim/pkg/ociwclayer/cim/import.go
  vendor/modules.txt
Labels: platform/windows, needs-ok-to-test, size/XXL, go
