Repository containerd/containerd, pull requests merged in 2025-06, with the labels that each got.

#11878 fix import for local transfer service
  core/transfer/local/import.go
Labels: kind/bug, needs-ok-to-test, size/XS, area/distribution, cherry-pick/2.1.x

#11911 Remove internal interface from unpacker interface
  core/transfer/local/transfer.go
  core/unpack/unpacker.go
Labels: kind/refactor, size/S

#11913 [release/1.6] test: added runc v1 support in vagrant
  .github/workflows/ci.yml
  Vagrantfile
Labels: ok-to-test, kind/test, size/S, github_actions

#11896 [release/1.7] test: added runc v1 tests using vagrant
  .github/workflows/ci.yml
  Vagrantfile
Labels: ok-to-test, kind/test, size/S, github_actions

#11915 Fix transfer differ selection
  core/unpack/unpacker.go
  plugins/services/transfer/service.go
  plugins/transfer/plugin.go
Labels: kind/bug, size/S, area/distribution, cherry-pick/2.1.x

#11934 erofs-snapshotter: fix to work with wrapped errors
  plugins/snapshots/erofs/erofs_linux.go
Labels: size/XS, cherry-pick/2.1.x

#11881 Fetch image with default platform only in TestExportAndImportMultiLayer
  integration/client/import_test.go
Labels: size/XS, area/distribution

#11578 [KEP-4639] Support image volume mount subpath
  integration/image_volume_linux_test.go
  integration/main_test.go
  internal/cri/server/container_image_mount.go
Labels: kind/feature, area/cri, size/L

#11939 pkg/oci: remove compatibility code for go1.16 and older
  pkg/oci/utils_unix_go116_test.go
  pkg/oci/utils_unix_go117_test.go
  pkg/oci/utils_unix_test.go
Labels: kind/cleanup, size/M

#11941 pkg/oci: cleanup some tests
  pkg/oci/spec_opts_test.go
Labels: kind/cleanup, size/L

#11916 *: properly shutdown non-groupable shims to prevent resource leaks
  core/runtime/v2/shim.go
  core/runtime/v2/shim_load.go
  integration/issue10467_linux_test.go
  integration/release_upgrade_linux_test.go
Labels: ok-to-test, area/runtime, size/L, cherry-pick/2.0.x, cherry-pick/2.1.x

#11945 pkg/oci: don't use vars for WithAllKnownCapabilities, WithAllCurrentCapabilities
  pkg/oci/spec_opts_linux.go
  pkg/oci/spec_opts_nonlinux.go
Labels: kind/refactor, area/runtime, size/S

#11886 shim-v2:improve shim error message
  core/runtime/v2/shim.go
Labels: needs-ok-to-test, area/runtime, size/XS

#11946 pkg/oci: don't use var for WithPrivileged
  pkg/oci/spec_opts.go
Labels: kind/refactor, size/S

#11961 ci: bump golang 1.24.4 in build and release
  .devcontainer/devcontainer.json
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, go, github_actions

#11968 [release/2.1] ci: bump golang [1.23.10,1.24.4] in build and release
  .devcontainer/devcontainer.json
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, go, area/toolchain, github_actions

#11973 [release/2.0] core/runtime: should invoke shim binary if it doesn't support Sandbox API
  core/runtime/v2/shim.go
  core/runtime/v2/shim_load.go
  core/runtime/v2/shim_manager.go
  core/runtime/v2/task_manager.go
  integration/issue10467_linux_test.go
  integration/release_upgrade_linux_test.go
  integration/release_upgrade_utils_linux_test.go
  internal/cri/server/container_create.go
  internal/cri/server/podsandbox/controller.go
  internal/cri/server/podsandbox/types/podsandbox.go
Labels: area/cri, ok-to-test, area/runtime, size/XL

#11976 Fix registry errors with transfer service
  core/remotes/errors/errors.go
  core/transfer/proxy/transfer.go
Labels: kind/bug, size/S, area/distribution, cherry-pick/2.1.x

#11669 Update fetcher errors to include full registry error
  core/remotes/docker/errcode.go
  core/remotes/docker/fetcher_test.go
  core/remotes/docker/pusher.go
  core/remotes/docker/resolver.go
Labels: kind/enhancement, size/M, area/distribution, cherry-pick/2.1.x

#11992 Fix multipart fetch issue when the server does not return content length
  core/content/helpers.go
  core/remotes/docker/fetcher.go
  core/remotes/docker/fetcher_test.go
Labels: kind/bug, needs-ok-to-test, size/S, area/distribution, cherry-pick/2.1.x

#12002 [release/2.1] Prepare release notes for v2.1.3
  releases/v2.1.3.toml
  version/version.go
Labels: size/M, area/distribution

#11885 bugfix:close container io when runtime create failed
  cmd/containerd-shim-runc-v2/process/init.go
  integration/container_io_leak_linux_test.go
Labels: kind/bug, ok-to-test, area/runtime, size/M, cherry-pick/2.1.x

#11970 [release/2.0] Enable CIs to run on WS2022 and WS2025
  .github/workflows/build-test-images.yml
  .github/workflows/ci.yml
  .github/workflows/windows-hyperv-periodic.yml
  .github/workflows/windows-periodic.yml
  integration/client/helpers_unix.go
  integration/client/helpers_windows.go
  integration/image_load_test.go
  integration/images/volume-copy-up/Makefile
  integration/images/volume-ownership/Makefile
Labels: platform/windows, size/M, github_actions

#11981 Implement io.ReaderAt on docker fetch reader
  core/remotes/docker/httpreadseeker.go
Labels: size/M, area/distribution

#12006 Add coverage support for CRI integration tests
  .gitignore
  Makefile
  script/test/cri-integration.sh
  script/test/utils.sh
Labels: area/cri, ok-to-test, size/S

#11969 [release/2.0] ci: bump golang [1.23.10, 1.24.4] in build and release
  .devcontainer/devcontainer.json
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, go, area/toolchain, github_actions

#11933 Update GHA runners to use latest image for most jobs
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: size/S, github_actions

#12004 Remove unused Windows 2019 powershell scripts
  script/setup/upgrade_chocolaty_windows_2019.ps1
  script/setup/upgrade_mingw_windows_2019.ps1
Labels: platform/windows, kind/cleanup, size/M

#12008 ci:fix ci TestContainerExecLargeOutputWithTTY panic
  integration/client/container_test.go
Labels: kind/bug, needs-ok-to-test, size/XS
