Repository containerd/containerd, pull requests merged in 2025-05, with the labels that each got.

#11777 Add retries for flaky Windows test
  integration/client/container_test.go
Labels: platform/windows, size/S

#11778 Revert "disable portmap test in ubuntu-22 to make CI happy"
  .github/workflows/ci.yml
  script/critest.sh
Labels: kind/test, size/XS, cherry-pick/2.0.x

#11779 removing/cloning vendor of kubelet pod label definitions
  internal/cri/server/container_checkpoint_linux.go
  internal/cri/types/labels.go
  vendor/modules.txt
Labels: area/cri, dependencies, kind/refactor, size/M

#11781 clones k8s component-base logreduction for integration test
  go.mod
  go.sum
  integration/remote/logreduction/logreduction.go
  integration/remote/remote_runtime.go
  vendor/k8s.io/component-base/LICENSE
  vendor/modules.txt
Labels: area/cri, dependencies, kind/refactor, size/L

#11780 cloning k8s apimachinery set utils no longer vendoring apimachinery
  internal/cri/bandwidth/linux.go
  internal/cri/setutils/doc.go
  internal/cri/setutils/empty.go
  internal/cri/setutils/int.go
  internal/cri/setutils/set.go
  internal/cri/setutils/string.go
  internal/cri/store/image/image.go
  internal/cri/store/image/image_test.go
  internal/cri/util/strings.go
Labels: area/cri, dependencies, kind/refactor, size/XL

#11785 Update runc binary to v1.3.0
  script/setup/runc-version
Labels: size/XS

#11787 removes use of klog from containerd repo
  integration/main_test.go
  integration/remote/remote_image.go
  integration/remote/remote_runtime.go
  internal/cri/bandwidth/linux.go
  plugins/cri/runtime/plugin.go
Labels: area/cri, dependencies, kind/refactor, size/L

#11788 clones k8s utils clock for cri server events to remove dependency on k8s/utils/clock internal utility
  internal/cri/clock/README.md
  internal/cri/clock/clock.go
  internal/cri/clock/testing/fake_clock.go
  internal/cri/clock/testing/simple_interval_clock.go
  internal/cri/server/events/events.go
  internal/cri/server/events/events_test.go
Labels: area/cri, dependencies, kind/refactor, size/XL

#11770 fix multipart layer fetch in client: pass config down
  client/client.go
  client/client_opts.go
  client/pull.go
  core/remotes/docker/fetcher.go
  core/transfer/local/transfer.go
  internal/cri/server/images/image_pull.go
  internal/cri/server/images/service.go
  plugins/transfer/plugin.go
Labels: ok-to-test, size/M, area/distribution

#11790 Use Go 1.19 atomic wrappers everywhere
  cmd/containerd-shim-runc-v2/process/io.go
  cmd/containerd/server/server.go
  core/content/testsuite/testsuite.go
  core/images/usage/calculator.go
  core/metadata/containers.go
  core/metadata/content.go
  core/metadata/content_test.go
  core/metadata/db.go
  core/metadata/images.go
  core/metadata/leases.go
  core/metadata/snapshot.go
  core/metrics/cgroups/v1/oom.go
  core/remotes/docker/fetcher_test.go
  core/snapshots/benchsuite/benchmark_test.go
  core/transfer/streaming/writer.go
  core/unpack/unpacker.go
  integration/client/content_test.go
  internal/cri/server/images/image_pull.go
  internal/cri/server/images/image_pull_test.go
Labels: kind/refactor, size/L, go

#11484 Retry registry operations once on 50x if last host
  core/remotes/docker/fetcher.go
  core/remotes/docker/fetcher_fuzz_test.go
  core/remotes/docker/fetcher_test.go
  core/remotes/docker/pusher.go
  core/remotes/docker/resolver.go
Labels: size/L, area/distribution

#11794 Fix image inspect to skip over missing content
  pkg/display/manifest_printer.go
Labels: kind/bug, size/XS

#11793 [carry-11761] core/runtime: should invoke shim binary if it doesn't support Sandbox API
  core/runtime/v2/shim.go
  core/runtime/v2/shim_manager.go
  core/runtime/v2/task_manager.go
  integration/issue10467_linux_test.go
  integration/release_upgrade_linux_test.go
  internal/cri/server/container_create.go
  internal/cri/server/podsandbox/controller.go
  internal/cri/server/podsandbox/types/podsandbox.go
Labels: area/cri, area/runtime, size/L, cherry-pick/2.0.x

#11724 Update CRI documentation to add information about Image Pull with Transfer Service
  docs/cri/config.md
Labels: kind/docs, area/cri, size/M

#11819 Prepare release notes for v2.1.0
  .mailmap
  RELEASES.md
  go.mod
  go.sum
  releases/v2.1.0.toml
  vendor/modules.txt
  version/version.go
Labels: size/M

#11820 [release/2.0] .github: do not mark 2.0 releases as latest
  .github/workflows/release.yml
Labels: size/XS, github_actions

#11821 [release/2.1] .github: mark 2.1 releases as latest
  .github/workflows/release.yml
Labels: size/XS, github_actions

#11816 replace "cleanup.Background" for "context.WithoutCancel"
  core/metadata/db.go
  core/runtime/v2/shim_load.go
  core/runtime/v2/shim_manager.go
  core/runtime/v2/task_manager.go
  internal/cleanup/context.go
  internal/cleanup/context_test.go
Labels: kind/refactor, size/L, go

#11824 ci:fix ci timeout on almalinux
  integration/main_test.go
Labels: needs-ok-to-test, size/XS

#11811 ctr:make sure containerd socket exist before create client
  cmd/ctr/commands/client.go
Labels: needs-ok-to-test, size/XS, area/client, cherry-pick/2.1.x

#11815 core/runtime/v2: cleanup shim-cleanup logs
  core/runtime/v2/binary.go
  core/runtime/v2/shim.go
Labels: area/runtime, size/S, cherry-pick/2.1.x

#11804 [release/1.6]: Fix CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: size/M, github_actions

#11829 Update removal version for deprecated registry config fields
  internal/cri/config/config.go
Labels: ok-to-test, size/XS

#11838 cri:use debug level when receive exec process exited events
  internal/cri/server/podsandbox/events.go
Labels: area/cri, needs-ok-to-test, size/XS

#11851 erofs-snapshotter: a fix for native image support and a performance tip
  docs/snapshotters/erofs.md
  plugins/diff/erofs/differ_linux.go
Labels: kind/bug, kind/docs, size/S, cherry-pick/2.1.x

#11863 follow-up changes discussed at end of review creating these packages
  internal/cri/streamingserver/doc.go
  internal/cri/streamingserver/portforward/doc.go
  internal/cri/streamingserver/portforward/httpstream.go
  internal/cri/streamingserver/portforward/websocket.go
  internal/cri/streamingserver/remotecommand/doc.go
  internal/cri/streamingserver/remotecommand/httpstream.go
  internal/cri/streamingserver/responsewriter/wrapper.go
  internal/cri/streamingserver/v1/doc.go
Labels: area/cri, kind/refactor, size/M

#11795 clones k8s util exec used by streaming code removing k8s util dependencies
  go.mod
  integration/remote/remote_runtime.go
  internal/cri/bandwidth/linux.go
  internal/cri/executil/README.md
  internal/cri/executil/doc.go
  internal/cri/executil/exec.go
  internal/cri/executil/exec_test.go
  internal/cri/executil/testdata/hello.sh
  internal/cri/server/streaming.go
  internal/cri/streamingserver/remotecommand/exec.go
  vendor/k8s.io/utils/exec/README.md
  vendor/k8s.io/utils/exec/fixup_go118.go
  vendor/k8s.io/utils/exec/fixup_go119.go
  vendor/modules.txt
Labels: area/cri, dependencies, kind/refactor, size/L

#11850 ci: update runhcs to v0.13.0
  script/setup/runhcs-version
Labels: size/XS

#11865 docs(ansible): fix the folder in step1
  contrib/ansible/README.md
Labels: kind/docs, needs-ok-to-test, size/XS

#11860 pkg/oci: prevent panic for some platform-specific options
  pkg/oci/spec_opts.go
  pkg/oci/spec_opts_test.go
Labels: area/runtime, size/L

#11874 Add symlink breakout test for overriden path
  pkg/archive/tar_test.go
Labels: kind/test, size/M

#11861 client:improve mount error message
  core/mount/mount_linux.go
Labels: needs-ok-to-test, size/S

#11839 seccomp: kernel v6.13 (libseccomp v2.6.0)
  contrib/seccomp/seccomp_default.go
Labels: ok-to-test, size/S

#11888 docs: fix v2.1.0 release link
  RELEASES.md
Labels: kind/docs, size/XS
