Repository containerd/containerd, pull requests merged in 2025-02, with the labels that each got.

#11329 [release/2.0] fix initial sync race of registering NRI plugins.
  internal/cri/nri/nri_api_linux.go
  internal/cri/nri/nri_api_other.go
  internal/cri/server/container_create.go
  internal/cri/server/container_remove.go
  internal/cri/server/container_start.go
  internal/cri/server/container_stop.go
  internal/cri/server/container_update_resources.go
  internal/cri/server/sandbox_remove.go
  internal/cri/server/sandbox_run.go
  internal/cri/server/sandbox_stop.go
  internal/nri/nri.go
Labels: size/M, area/nri

#11321 Fix state/root bug in shim sandbox controller
  plugins/sandbox/controller.go
Labels: kind/bug, area/runtime, size/XS

#11331 nri: make OCI spec available on StopPodSandbox
  go.mod
  integration/nri_linux_test.go
  integration/nri_test.go
  internal/cri/nri/nri_api_linux.go
Labels: needs-ok-to-test, size/L, area/nri

#11294 Update RELEASES.md for new release schedule and LTS policy
  RELEASES.md
Labels: kind/docs, size/L

#10705 [Feat] erofs snapshotter and differ
  cmd/containerd/builtins/builtins_linux.go
  docs/snapshotters/README.md
  docs/snapshotters/erofs.md
  plugins/diff/erofs/differ_linux.go
  plugins/diff/erofs/plugin/plugin_linux.go
  plugins/snapshots/erofs/erofs_linux.go
  plugins/snapshots/erofs/erofs_linux_test.go
  plugins/snapshots/erofs/erofsutils/mount_linux.go
  plugins/snapshots/erofs/plugin/plugin_linux.go
Labels: kind/feature, snapshotters, size/XXL

#11269 [release/2.0] Update go-cni version to fix Race Condition issue
  go.mod
  go.sum
  vendor/github.com/containerd/go-cni/cni.go
  vendor/github.com/containerd/go-cni/deprecated.go
  vendor/github.com/containerd/go-cni/mutex.go
  vendor/github.com/containerd/go-cni/mutex_deadlocks.go
  vendor/github.com/containerd/go-cni/result.go
  vendor/github.com/containerd/go-cni/testutils.go
  vendor/github.com/petermattis/goid/.gitignore
  vendor/github.com/petermattis/goid/LICENSE
  vendor/github.com/petermattis/goid/README.md
  vendor/github.com/petermattis/goid/goid.go
  vendor/github.com/petermattis/goid/goid_gccgo.go
  vendor/github.com/petermattis/goid/goid_go1.3.c
  vendor/github.com/petermattis/goid/goid_go1.3.go
  vendor/github.com/petermattis/goid/goid_go1.4.go
  vendor/github.com/petermattis/goid/goid_go1.4.s
  vendor/github.com/petermattis/goid/goid_go1.5.go
  vendor/github.com/petermattis/goid/goid_go1.5.s
  vendor/github.com/petermattis/goid/goid_slow.go
  vendor/github.com/petermattis/goid/runtime_gccgo_go1.8.go
  vendor/github.com/petermattis/goid/runtime_go1.23.go
  vendor/github.com/petermattis/goid/runtime_go1.5.go
  vendor/github.com/petermattis/goid/runtime_go1.6.go
  vendor/github.com/petermattis/goid/runtime_go1.9.go
  vendor/github.com/sasha-s/go-deadlock/.travis.yml
  vendor/github.com/sasha-s/go-deadlock/LICENSE
  vendor/github.com/sasha-s/go-deadlock/Readme.md
  vendor/github.com/sasha-s/go-deadlock/deadlock.go
  vendor/github.com/sasha-s/go-deadlock/deadlock_map.go
  vendor/github.com/sasha-s/go-deadlock/stacktraces.go
  vendor/github.com/sasha-s/go-deadlock/test.sh
  vendor/github.com/sasha-s/go-deadlock/trylock.go
  vendor/modules.txt
Labels: area/cri, dependencies, size/XXL, go

#11348 [release/1.6] Update vagrant host OS to fix Vagrant CI runs
  .github/workflows/ci.yml
Labels: kind/test, size/XS, github_actions

#11250 [release/1.7] make sure console master tty is closed on task exit
  integration/container_tty_leak_linux_test.go
  runtime/v2/runc/task/service.go
Labels: kind/bug, area/runtime, size/L

#11377 update to go 1.24.0 / go1.23.6
  .devcontainer/devcontainer.json
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: cherry-pick/1.6.x, cherry-pick/1.7.x, size/S, github_actions, go, area/toolchain, cherry-pick/2.0.x

#11264 Remove noinline in seccomp/apparmor SpecOpts
  contrib/apparmor/apparmor.go
  contrib/seccomp/seccomp.go
  internal/cri/server/container_create_linux_test.go
Labels: area/runtime, size/M

#11388 Update runc binary to v1.2.5
  script/setup/runc-version
Labels: cherry-pick/1.6.x, cherry-pick/1.7.x, size/XS, cherry-pick/2.0.x

#11323 Revert "Add timestamp to PodSandboxStatusResponse for kubernetes Evented PLEG"
  internal/cri/server/sandbox_status.go
Labels: kind/bug, area/cri, ok-to-test, size/XS, cherry-pick/2.0.x

#10579 Add OCI/Image Volume Source support
  integration/image_mount_test.go
  integration/main_test.go
  internal/cri/server/container_create.go
  internal/cri/server/container_image_mount.go
  internal/cri/server/helpers.go
  internal/cri/server/sandbox_remove.go
  internal/cri/server/sandbox_run.go
  internal/cri/server/sandbox_stop.go
Labels: kind/feature, area/cri, ok-to-test, size/L

#11400 [release/1.7] Move `run.skip-dirs` to `issues.exclude-dirs` in golangci-lint config
  .golangci.yml
Labels: size/S, github_actions, area/toolchain

#11399 Move `linters-settings.exclude-dirs` to `issues.exclude-dirs` in golangci-lint config
  .golangci.yml
Labels: size/S, github_actions

#11393 Clarify port handling in `hosts.toml`
  docs/hosts.md
Labels: kind/docs, size/M

#11387 [release/2.0] Upgrade x/net to 0.33.0 to fix vulnerability GHSA-w32m-9786-jp63
  go.mod
  go.sum
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/modules.txt
Labels: needs-ok-to-test, dependencies, size/XL

#11405 [release/2.0] build(deps): bump actions/cache from 4.1.2 to 4.2.0
  .github/workflows/ci.yml
Labels: dependencies, size/XS, github_actions

#11410 [release/2.0] update build to go1.23.6, test go1.24.0
  .devcontainer/devcontainer.json
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, go, area/toolchain

#11362 move the device after the options when using mkfs.ext4
  plugins/snapshots/devmapper/pool_device_test.go
Labels: kind/bug, needs-ok-to-test, cherry-pick/1.6.x, cherry-pick/1.7.x, size/XS, cherry-pick/2.0.x

#11267 [release/1.7] Support to syncfs after pull by using diff plugin
  services/diff/local.go
  services/diff/service_unix.go
  services/diff/service_windows.go
Labels: ok-to-test, size/S

#11358 [release/1.7] Update install-imgcrypt to allow change install repo
  script/setup/install-imgcrypt
Labels: size/XS, area/toolchain

#11335 perf(zstd): deactivate the low mem decoder
  core/remotes/docker/fetcher.go
  pkg/archive/compression/compression.go
Labels: kind/feature, needs-ok-to-test, size/XS

#11419 [release/1.7] update build to go1.23.6, test go1.24.0
  .github/actions/install-go/action.yml
  .github/workflows/api-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Vagrantfile
  contrib/Dockerfile.test
  contrib/fuzz/oss_fuzz_build.sh
  script/setup/prepare_env_windows.ps1
Labels: size/S, github_actions, go, area/toolchain

#11179 Support for importing layers in the block CIM format.
  pkg/archive/tar_opts_windows.go
  plugins/diff/windows/cimfs.go
  plugins/diff/windows/windows.go
  plugins/snapshots/windows/cimfs.go
  script/setup/runhcs-version
Labels: platform/windows, needs-ok-to-test, dependencies, size/L, go, area/distribution

#11352 erofs-snapshotter: add fsverity support
  docs/snapshotters/erofs.md
  plugins/snapshots/erofs/erofs_linux.go
  plugins/snapshots/erofs/erofs_linux_test.go
  plugins/snapshots/erofs/plugin/plugin_linux.go
Labels: kind/feature, needs-ok-to-test, size/L

#11359 [release/1.6] make sure console master tty is closed on task exit
  integration/container_tty_leak_linux_test.go
  runtime/v2/runc/task/service.go
Labels: kind/bug, area/runtime, size/L

#11427 CI: arm64-8core-32gb -> ubuntu-24.04-arm
  .github/workflows/ci.yml
Labels: cherry-pick/1.6.x, cherry-pick/1.7.x, size/S, github_actions, cherry-pick/2.0.x

#11434 [release/1.7] Upgrade x/net to 0.33.0 to fix vulnerability GHSA-w32m-9786-jp63
  go.mod
  go.sum
  integration/client/go.mod
  integration/client/go.sum
  vendor/golang.org/x/net/LICENSE
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/timer.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/http2/writesched_priority.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/websocket/hybi.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Labels: needs-ok-to-test, dependencies, size/XXL, go

#11435 Ignore defunct verifier procs in test
  pkg/imageverifier/bindir/bindir_test.go
Labels: ok-to-test, kind/test, size/XS

#11433 pkg: prevent oom watcher from depending on shim pkg
  pkg/oom/v1/v1.go
  pkg/oom/v2/v2.go
Labels: ok-to-test, kind/refactor, size/S

#11436 [release/2.0] CI: arm64-8core-32gb -> ubuntu-24.04-arm
  .github/workflows/ci.yml
Labels: size/S, github_actions

#11429 Prepare release notes for v1.6.37
  releases/v1.6.37.toml
  version/version.go
Labels: area/cri, needs-ok-to-test, area/runtime, size/S

#11356 [release/1.7] Prepare release notes for v1.7.26
  releases/v1.7.26.toml
  version/version.go
Labels: size/S

#11442 Prefer runtime options for PluginInfo request
  core/runtime/v2/task_manager.go
Labels: ok-to-test, area/runtime, size/XS, cherry-pick/2.0.x

#11430 [release/2.0] go.{mod,sum}: bump CDI deps to v.0.8.1.
  go.mod
  go.sum
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache.go
Labels: dependencies, size/S, go

#11384 cri,nri: fix initial sync race of registering NRI plugins.
  internal/cri/nri/nri_api_linux.go
  internal/cri/nri/nri_api_other.go
  internal/cri/server/container_create.go
  internal/cri/server/container_remove.go
  internal/cri/server/container_start.go
  internal/cri/server/container_stop.go
  internal/cri/server/container_update_resources.go
  internal/cri/server/sandbox_remove.go
  internal/cri/server/sandbox_run.go
  internal/cri/server/sandbox_stop.go
  internal/nri/nri.go
Labels: area/cri, size/M, area/nri

#11271 Fix privileged container sysfs can't be rw because pod is ro by default
  integration/container_stats_test.go
  integration/main_test.go
  internal/cri/server/podsandbox/sandbox_run.go
Labels: kind/bug, area/cri, ok-to-test, size/L

#11457 [release/2.0] Update remote content to break up writes to avoid grpc message size limits
  core/content/proxy/content_writer.go
  core/content/testsuite/testsuite.go
Labels: impact/changelog, ok-to-test, size/M

#11443 [release/2.0] Prepare release notes for v2.0.3
  releases/v2.0.3.toml
  version/version.go
Labels: area/cri, area/runtime, size/S

#11115 Log "container event discarded" as Info
  internal/cri/server/service.go
Labels: area/cri, needs-ok-to-test, size/XS
